/*utility class*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

header {
	background-color: #fff;
}

.Header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#menu > a {
 	padding-right: 10px;
 	text-decoration: none;
	color: #666;
	border-right: 2px solid rgba(0,0,0,0.18);
	padding-left: 10px;
}

#login {
	margin-left: 10px;
	color: #F75700;
    border-color: #F75700;
}

#login:hover{
	background-color: rgba(42,58,141,0.08) !important;
}

#register {
	margin-left: 10px;
	background-color: #F75700;
}
.body{
    background-color: #F2F2F2;
    padding-top: 10px;
}